{define searchBox}
    {*<form n:name="searchBox" class="form-inline">
        {input searchPhrase class => "form-control col mr-1"}
        {input send class => "btn btn-primary col-auto"}
    </form>*}
    {include bootstrap-form-inline searchBox}
{/define}